{#
SPDX-FileCopyrightText: 2022-2025 SearXNG project contributors
SPDX-FileCopyrightText: 2024 Sergio Durigan Junior
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

# See: https://docs.searxng.org/src/searx.botdetection.html#method-link-token
[botdetection.ip_limit]
link_token = true

{{ searxng_limiter_additional_configurations }}
