{#
SPDX-FileCopyrightText: 2022-2025 SearXNG project contributors
SPDX-FileCopyrightText: 2024 Sergio Durigan Junior
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

---
use_default_settings: {{ searxng_config_use_default_settings | to_yaml }}
general:
  instance_name: {{ searxng_config_searxng_instance_name | to_yaml }}
server:
  secret_key: {{ searxng_config_server_secret_key | to_yaml }}
{% if searxng_redis_hostname %}
  limiter: true
{% endif %}
  image_proxy: {{ searxng_config_server_image_proxy | to_yaml }}
  public_instance: {{ searxng_config_public_instance | to_yaml }}
{% if searxng_redis_hostname %}
valkey:
  url: valkey://{{ searxng_redis_hostname }}:{{ searxng_redis_port }}/{{ searxng_redis_database }}
{% endif %}

{{ searxng_config_additional_configurations }}
