{
    "defaults": {
        "mongo": {
            "host": "{{ searxng_database_mongodb_hostname }}",
            "port": {{ searxng_database_mongodb_port }},
            "database": "{{ searxng_database_mongodb_name }}",
            "username": "{{ searxng_database_mongodb_username }}",
            "password": "{{ searxng_database_mongodb_password }}"
        },
        "redis": {
            "host": "{{ searxng_redis_hostname }}",
            "port": {{ searxng_redis_port }},
            "database": {{ searxng_redis_database }}
        },
        "postgres": {
            "host": "postgres",
            "port": 5432,
            "database": "searxng",
            "username": "searxng",
            "password": "searxng"
        }
    }
}
